<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        * {font-family:sans-serif;color:#323232}
        body {background-color: #D6E6FF}
    </style>
</head>
<body>
<h1>How to play Slam Learning</h1>

<p>It is very simple to start playing Slam Learning:</p>
<ol>
    <li>Select one or more word decks you want to learn<br />
    <span style="font-size:small">Alternatively and additionally, you can also select your own Words decks and questions decks as CSV files.</span></li>
    <li>You can start the game!</li>
</ol>

<h2>Slam Learning basics</h2>
<p>The goal of the game is to completely reveal the generated grid. For this, you will have two repeated steps:</p>
<ol style="list-style-type: upper-alpha;">
    <li><strong>Guess a letter</strong><br />
        <ul>
            <li>You need to answer a question to find some unrevealed letter in the grid</li>
            <li>If you answer is wrong, you will restart to step A.</li>
            <li>If you answer is correct, you will have the explanation and go to the next step.</li>
        </ul>
    </li>
    <li><strong>Pick and guess a word</strong><br />
        <ul>
            <li>You can now click on any word you like on the grid to select it.<br />Be careful not to select a letter common to two words: the game can't know the one you meant!</li>
            <li>Once a word is selected, you will have a definition to help you find the correct answer.</li>
            <li>If you guess right, the word will be revealed on the grid.</li>
            <li>Either way, you will restart to step A.</li>
        </ul>
    </li>
</ol>
</body>
</html>