.body {
    -fx-background-color: #D6E6FF;
}

.grid {
    -fx-background-color: transparent;
}

.cell {
    -fx-background-radius: 3px;
    -fx-background-color: #ABA77F;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-pref-width: 30px;
    -fx-font-size: 20px;
}
.cell-enabled {
    -fx-background-color: #FFBF00;
}

.cell-revealed {
    -fx-background-color: white;
    -fx-text-fill: #3D6CF7;
}

.cell-guessed {
    -fx-background-color: #d0d0d0;
}

.cell-hover {
    -fx-background-color: #0951C5;
    -fx-text-fill: #FFBF00;
}

.cell-focus {
    -fx-background-color: #FF9C3F;
    -fx-text-fill: #0951C5;
}

.answer-input {
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #3D6CF7;
    -fx-text-fill: #3D6CF7;
}

.answer-input:focused {
    -fx-background-radius: 3px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #3D6CF7;
    -fx-text-fill: #3D6CF7;
}

.success {
    -fx-text-fill: #48A43B;
}

.congratulations {
    -fx-text-fill: #3D6CF7;
    -fx-font-weight: bold;
}

.error {
    -fx-text-fill: #B22D24;
}

.critical-error {
    -fx-text-fill: #F70000;
    -fx-font-weight: bold;
}