.cell {
    -fx-border-color: #dedede;
    -fx-background-color: #3D6CF7;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-pref-width: 30px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.cell-hover {
    -fx-background-color: #0951C5;
    -fx-text-fill: #FFDD00;
}

.cell-focus {
    -fx-background-color: #FF9C3F;
    -fx-text-fill: #0951C5;
}

.grid {
    -fx-background-color: #F7F1C0;
}

.success {
    -fx-text-fill: #48A43B;
}

.error {
    -fx-text-fill: #B22D24;
}

.critical-error {
    -fx-text-fill: #F70000;
    -fx-font-weight: bold;
}